<!-- templates/includes/header.html --> 
{% load static %}
{% load thumbnail %}
{% with request.resolver_match.view_name as view_name %}
<nav 
  class="navbar sticky-top navbar-light" 
  style="
    background: fixed url({% static 'img/header.jpg' %});
    background-size: cover
  "
  data-mdb-sticky-boundary="true"
  data-mdb-sticky-offset="58"
  data-mdb-sticky-delay="58"> 
  <div class="container">
    <a class="navbar-brand" href="{% url 'posts:index' %}">
      <img
        src="{% static 'img/logo.png' %}"
        width="30"
        height="30"
        class="d-inline-block align-top"
        alt="">
      Yatube
    </a>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link text-dark" 
          {% if view_name  == 'about:author' %}
            style="background: linear-gradient(to top, #fff, #ffc107)"
          {% endif %}
          href="{% url 'about:author' %}"
        ><strong>Об авторе</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark"
          {% if view_name  == 'about:tech' %}
            style="background: linear-gradient(to top, #fff, #ffc107)"
          {% endif %}
          href="{% url 'about:tech' %}"
        ><strong>Технологии</strong></a>
      </li>

      {% if  request.user.is_authenticated %}
        <li class="nav-item"> 
          <a class="nav-link text-dark"
            {% if view_name  == 'posts:post_create' %}
            style="background: linear-gradient(to top, #fff, #ffc107)"
          {% endif %}
            href="{% url 'posts:post_create' %}"
          ><strong>Новая запись</strong></a>
        </li>
        <li class="nav-item"> 
         <a class="nav-link text-dark"
          {% if view_name  == 'users:password_change_form' %}
            style="background: linear-gradient(to top, #fff, #ffc107)"
          {% endif %}
          href="{% url 'users:password_change_form' %}"
         ><strong>Изменить пароль</strong></a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link text-dark"
          {% if view_name  == 'users:logout' %}
            style="background: linear-gradient(to top, #fff, #ffc107)"
          {% endif %}
          href="{% url 'users:logout' %}"
          ><strong>Выйти</strong></a>
        </li>
        <li class="nav-item">
          <a 
            class="nav-link text-warning"
            style = "background: url({% static 'img/main.jpg' %}); background-size: cover"
          href="{% url 'posts:profile' request.user.username %}"
          ><strong>{{ user.username }}</strong></a>
        <li>
      {% else %}
        <li class="nav-item"> 
          <a class="nav-link text-dark"
            {% if view_name  == 'users:login' %}
            style="background: linear-gradient(to top, #fff, #ffc107)"
          {% endif %}
            href="{% url 'users:login' %}"
          ><strong>Войти</strong></a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link text-dark"
            {% if view_name  == 'users:signup' %}
            style="background: linear-gradient(to top, #fff, #ffc107)"
          {% endif %}
            href="{% url 'users:signup' %}"
          ><strong>Регистрация</strong></a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
{% endwith %}
