<!-- templates/about/tech.html -->

{% extends "base.html" %}

{% block title %}Технологии{% endblock %}

{% block heading %}
  <h1 class="text-warning">Вот что я умею</h1>
{% endblock %}

{% block content %}
  <div class="row">
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li
          class="text-warning list-group-item"
          style="background-color: transparent"
        >
          Python
        </li>
        <li
          class="text-warning list-group-item"
          style="background-color: transparent"
        >
          Django
        </li>
      </ul>
    </aside>

    <article class="col-12 col-md-9">
      <p class="text-warning">
        Текст страницы "Технологии"
      </p>
    </article>
  </div>
{% endblock %}