<!-- templates/posts/includes/follow.html -->

{% load static %}
{% if user.is_authenticated %}
{% if request.user != author %}
    {% if following %}
        <a 
          type="submit" class="btn btn-primary text-warning text-dark btn-outline-warning"
          style="background: url({% static 'img/header.jpg' %}); background-size: cover"
          href="{% url 'posts:profile_unfollow' author.username %}" role="button"
        >
          Отписаться
        </a>
    {% else %}
        <a 
          type="submit" class="btn btn-primary text-warning text-dark btn-outline-warning"
          style="background: url({% static 'img/header.jpg' %}); background-size: cover"
          href="{% url 'posts:profile_follow' author.username %}" role="button"
        >
          Подписаться
        </a>
    {% endif %}
{% endif %}
{% endif %}
 