<!-- templates/posts/post_create.html -->

{% extends 'form.html' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block card_header %}
  {{ title }}
{% endblock %}

{% block buttons %}
{% load static %}
  <div class="d-flex justify-content-end">
    {% if is_edit %}
      <button type="submit" class="btn btn-primary text-warning btn-outline-danger" style=" background: url({% static 'img/main.jpg' %}); background-size: cover">
        Добавить
      </button>
    {% else %}
      <button type="submit" class="btn btn-primary text-warning btn-outline-danger" style=" background: url({% static 'img/main.jpg' %}); background-size: cover">
        <strong>Сохранить</strong>
      </button>
    {% endif %}
  </div>
{% endblock %}
