<!-- templates/posts/profile.html -->

{% extends 'base.html' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block heading %}
  <div class="mb-5">
    <h1 class="text-warning text-center">
      Все посты пользователя {{ author.get_full_name }}
    </h1>
    <div class="row justify-content-center">
      <div class="col-md-4 text-warning">
        <h3>Всего постов: {{ posts_count }}</h3>
      </div>
      <div class="col-md-4">
        {% include 'posts/includes/follow.html' %}
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  {% include 'posts/includes/posts_list.html' %}
{% endblock %}