<!-- templates/users/login.html --> 

{% extends "form.html" %}

{% block title %}Войти{% endblock %}

{% block card_header %}
  Войти на сайт
{% endblock %}

{% block buttons %}
  {% load static %}
  <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-primary text-warning btn-outline-danger mx-4" style=" background: url({% static 'img/main.jpg' %}); background-size: cover">
      Войти
    </button>
    <a href="{% url 'users:password_reset_form' %}" class="btn text-warning btn-outline-danger" style=" background: url({% static 'img/main.jpg' %}); background-size: cover">
      Забыли пароль?
    </a>
  </div>
{% endblock %}