<!-- templates/users/password_reset_confirm.html -->

{% extends "form.html" %}

{% block title %}Новый пароль{% endblock %}

{% block card_header %}
  {% if validlink %}
    Введите новый пароль
  {% else %}
    Ошибка
  {% endif %}
{% endblock %}

{% block buttons %}
  {% load static %}
  {% if validlink %}
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary  text-warning btn-outline-danger" style=" background: url({% static 'img/main.jpg' %}); background-size: cover">
        <strong>Назначить новый пароль</strong>
      </button>
    </div>
  {% endif %}
{% endblock %}

{% block card_body %}
  {% if validlink %}
    {{ block.super }}
  {% else %}
    <p>Ссылка сброса пароля содержит ошибку или устарела.</p>
  {% endif %}
{% endblock %}
