<!-- templates/users/password_reset_confirm.html -->

{% extends "form.html" %}

{% block title %}Новый пароль{% endblock %}

{% block card_header %}
  {% if validlink %}
    Введите новый пароль
  {% else %}
    Ошибка
  {% endif %}
{% endblock %}

{% block buttons %}
  {% if validlink %}
    <div class="col-md-6 offset-md-4">
      <button type="submit" class="btn btn-primary">
        Назначить новый пароль
      </button>
    </div>
  {% endif %}
{% endblock %}

{% block card_body %}
  {% if validlink %}
    {{ block.super }}
  {% else %}
    <p>Ссылка сброса пароля содержит ошибку или устарела.</p>
  {% endif %}
{% endblock %}
