<!-- templates/users/password_reset_form.html --> 

{% extends "form.html" %}

{% block title %}Сброс пароля{% endblock %}

{% block card_header %}
  Чтобы сбросить старый пароль — введите адрес электронной почты, под которым вы регистрировались
{% endblock %}

{% block buttons %}
  {% load static %}
  <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-primary text-warning btn-outline-danger mx-4" style=" background: url({% static 'img/main.jpg' %}); background-size: cover">
      <strong>Сбросить пароль</strong>
    </button>
  </div>
{% endblock %}