<!-- templates/users/password_reset_complete.html --> 

{% extends "form.html" %}

{% block title %}Сброс пароля успешно изменен{% endblock %}

{% block card_header %}
  Восстановление пароля завершено
{% endblock %}

{% block card_body %}
  {% load static %}
  <p class="text-warning">Ваш пароль был сохранен. Используйте его для входа</p>
  <div class="d-flex justify-content-center">
    <a href="{% url 'users:login' %}" class="btn text-warning btn-outline-danger" style=" background: url({% static 'img/main.jpg' %}); background-size: cover"><strong>Войти</strong></a>
  </div>
{% endblock %}