<!-- templates/users/password_change_form.html --> 

{% extends "form.html" %}

{% block title %}Изменение пароля{% endblock %}

{% block card_header %}
  Изменить пароль
{% endblock %}

{% block buttons %}
  {% load static %}
  <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-primary text-warning btn-outline-danger" style=" background: url({% static 'img/main.jpg' %}); background-size: cover">
      <strong>Изменить пароль</strong>
    </button>
  </div>
{% endblock %}
